<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h2 class="text-center mt-2">
        <%= t('.title') %>
      </h2>
      <div class="border border-dark pt-2 mt-2">
        <%= turbo_frame_tag "good_event_confirm" do %>
          <%= simple_format(t('.message'), class: "text-center") %>
          <%= bootstrap_form_with(model: [@memory, @good_event], url: confirm_memory_good_events_path, local: true) do |form| %>
            <div class="col-10 mx-auto my-4">
              <%= form.text_field :title %>
              <%= form.text_area :body, rows: "5", placeholder: example_message %>
              <%= form.datetime_field :date %>
            </div>
            <div class="text-center mb-3">
              <%= form.primary t('defaults.confirm')%>
            </div>
            <%= link_to t('defaults.back'), 'javascript:history.back()', class: "ps-2" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>