<div class="container">
  <div class="top-container py-5 d-flex align-items-center justify-content-center">
    <div class="text-center">
      <h1 class="pb-5 text-white text-stroke">思い出更新<br><br>〜Memory Update〜</h1>
      <h3 class="mt-4 py-5 text-white text-stroke">
        あなたのその思い出、更新しませんか——？
      </h3>
    </div>
  </div>
  <div class="message-container col-10 mx-auto">
    <div class="text-center">
      <h5 class="lh-lg pt-5">
        積み重なった思い出の中に紛れた真っ黒な1ページ
      </h5>
      <h5 class="lh-lg py-2">
        モヤモヤして、不快で、ささくれのように気になってしまう、そんな記憶。
      </h5>
      <h5 class="lh-lg py-2">
        他にもたくさん良い出来事はあったのに<br>
        栞を挟んだわけでもないのに、思い出を開くとそのページばかりが現れる。
      </h5>
      <h5 class="lh-lg py-2">
        そんな、思い出の中の"ボトルネック"。
      </h5>
      <h5 class="lh-lg py-2 mb-0">
        失敗して怒られたり、恥ずかしい思いをしたり、悲しかったり、寂しかったり、苦しかったり——<br>
        そういう感情が付きまとう、変に気になってしまう記憶・出来事
      </h5>
    </div>
    <div class="row justify-content-center">
      <h5 class="text-center pt-5 mt-3">このアプリではそのような記憶を、嬉しかった出来事・良かった思い出の積み重ねで上書きしていきます</h5>
      <h4 class="text-center mt-4">〜このアプリの使い方〜</h4>
      <div class="col-10">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12 mb-3">
            <div class="card h-100 bg-transparent border-0">
              <div class="card-body">
                <h5 class="card-title">
                  1. 『新規投稿』からエピソードを投稿します
                </h5>
              </div>
              <%= image_tag "post_img.png", class: "card-img", size: "300x200" %>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-3">
            <div class="card h-100 bg-transparent border-0">
              <div class="card-body">
                <h5 class="card-title">
                  2. 選択肢の中から一つ選びます
                </h5>
              </div>
              <%= image_tag "prompt_img.png", class: "card-img", size: "300x200" %>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-3">
            <div class="card h-100 bg-transparent border-0">
              <div class="card-body">
                <h5 class="card-title">
                  3. 選択肢を元にイメージイラストが生成されます
                </h5>
              </div>
              <%= image_tag "illust_img.png", class: "card-img", size: "300x200" %>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-3">
            <div class="card h-100 bg-transparent border-0">
              <div class="card-body">
                <h5 class="card-title">
                  4. 良かった出来事を登録します
                </h5>
              </div>
              <%= image_tag "post_img2.png", class: "card-img", size: "300x200" %>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-3">
            <div class="card h-100 bg-transparent border-0">
              <div class="card-body">
                <h5 class="card-title">
                  5. 良かった出来事を3つ登録するとイラストに変化が......?
                </h5>
              </div>
              <%= image_tag "question.jpg", class: "card-img", size: "300x200" %>
            </div>
          </div>
        </div>
        <div class="text-center">
          <p>※各投稿は投稿者以外の人が閲覧できないようにしてあります</p>
          <p>※ゲストユーザーは一部機能を制限しており、エピソードの投稿は一つしかできません。</p>
        </div>
      </div>
    </div>
  </div>
</div>