<div class="container">
  <div class="top-container py-5">
    <div class="text-center">
      <h1 class="py-2">思い出更新アプリ</h1>
      <h3 class="py-2">
        あなたには忘れたくても忘れられない、嫌な記憶はありますか？
      </h3>
      <h5 class="lh-lg">
        辛い出来事、嫌な出来事ほど忘れられず記憶に強く残るもの<br>
        その嫌な記憶に思い出を塗りつぶされていませんか？<br>
      </h5>
    </div>
    <%# image_tag "tree_with_girl.jpeg", size: "150x150" %>
  </div>
  <div class="row justify-content-center how-container mx-0">
    <h5 class="text-center mt-3">このアプリではそんな嫌な記憶を、良かった出来事・良い思い出の積み重ねで上書きしていきます</h5>
    <h4 class="text-center my-4">〜このアプリの使い方〜</h4>
    <div class="col-10">
      <div class="row">
        <div class="col-lg-4 col-12 mb-3">
          1. エピソードを投稿します
          <div class="card my-2">
            <%= image_tag "post_img.png", class: "card-img-top" %>
          </div>
        </div>
        <div class="col-lg-4 col-12 mb-3">
          2. 選択肢から一番近い感情を選びます
          <div class="card my-2">
            <%= image_tag "post_img.png", class: "card-img-top" %>
          </div>
        </div>
        <div class="col-lg-4 col-12 mb-3">
          3. イメージイラストが生成されます
          <div class="card my-2">
            <%= image_tag "post_img.png", class: "card-img-top" %>
          </div>
        </div>
        <div class="col-lg-4 col-12 mb-3">
          4. 良かった出来事を登録します
          <div class="card my-2">
            <%= image_tag "post_img.png", class: "card-img-top" %>
          </div>
        </div>
        <div class="col-lg-4 col-12 mb-3">
          5. エピソードを5つ登録すると...?
          <div class="card my-2">
            <%= image_tag "post_img.png", class: "card-img-top" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>