<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light mx-4">
    <%= link_to "Memory Update", root_path, class: "navbar-brand fst-italic fw-bold text-light" %>
    <div class="collapse navbar-collapse justify-content-end">
      <div class="navbar-nav">
        <div class="nav-item nav-link">
          <%= current_user.name %>
        </div>
        <div class="nav-item">
          <%= link_to t('memories.index.title'), memories_path, class: "btn btn-info" %>
        </div>
        <div class="nav-item">
          <%= link_to t('defaults.new'), new_bad_event_path, class: "btn btn-info" %>
        </div>
        <div class="nav-item">
          <div class="dropdown">
            <%= button_tag t('defaults.menu'), class: "btn btn-info dropdown-toggle", type: 'button', 'data-bs-toggle': 'dropdown', 'aria-expanded': 'false' %>
            <div class="dropdown-menu dropdown-menu-end">
              <%= link_to t('memories.show.title'), user_memories_memories_path, class: "dropdown-item" %>
              <% if current_user.memories.bad.exists? %>
                <%= link_to BadEvent.human_attribute_name(:body), memory_path(current_user.memories.bad.first), class: "dropdown-item" %>
              <% end %>
              <%= link_to t('profiles.show.title'), profiles_path, class: "dropdown-item" %>
              <%= link_to t('defaults.logout'), logout_path, data: { turbo_method: :delete }, class: "btn btn-primary dropdown-item" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>