<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light">
    <div class="container-fluid">
      <%= link_to "Memory Update", root_path, class: "navbar-brand fst-italic fw-bold text-light" %>
      <div class="justify-content-start">
        <%= link_to "イラスト一覧", "#", class: "btn btn-info" %>
        <%= link_to "マイページ", "#", class: "btn btn-info" %>
        <%= link_to "新規投稿", "#", class: "btn btn-info" %>
        <%= link_to t('defaults.logout'), logout_path, data: { turbo_method: :delete }, class: "btn btn-primary" %>
      </div>
    </div>
  </nav>
</header>