<% if @bad_event.errors.present? %>
  <%= render partial: "shared/error_messages", locals: { object: @bad_event } %>
<% else %>
  <%= turbo_frame_tag "modal" %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-6 bg-white border border-dark pt-3 mt-5">
          <h2 class="text-center mt-2"><%= t('.title') %></h2>
          <%= bootstrap_form_with(model: @bad_event, data: { turbo_frame: "modal"}) do |form| %>
            <div class="col-10 mx-auto my-4">
              <%= form.text_area :body, rows: "10" %>
            </div>
            <div class="text-center mb-3">
              <%= form.primary %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>