<%= turbo_frame_tag "modal" %>
<div class="container">
  <div class="row justify-content-center pb-5">
    <h2 class="text-center mt-2"><%= t('.title') %></h2>
    <div class="col-10 col-lg-8 border border-dark pt-3 mt-2">
      <%= turbo_frame_tag "bad_event_confirm" do %>
        <p><%= simple_format(t('.message'), class: "text-center") %></p>
        <%= bootstrap_form_with(model: @bad_event, url: confirm_bad_events_path, local: true) do |form| %>
          <%= render "shared/error", object: @memory %>
          <div class="col-10 mx-auto my-4">
            <%= form.text_area :body, rows: "10" %>
          </div>
          <div class="text-center mb-3">
            <%= form.primary t('defaults.confirm') %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>