<%= turbo_frame_tag "modal" %>
<div class="container pt-3">
  <div class="row justify-content-center">
    <h2 class="text-center"><%= t('.title') %></h2>
    <div class="col-6 bg-white border border-dark pt-3 mt-5">
      <%= bootstrap_form_with(model: @bad_event, data: { turbo_frame: "modal"}) do |form| %>
        <div class="col-8 mx-auto my-4">
          <%= form.text_area :body, skip_label: true, rows: "5" %>
        </div>
        <div class="text-center mb-3">
          <%= form.primary %>
        </div>
      <% end %>
    </div>
  </div>
</div>
