<div class="row py-2 border-top">
  <div class="col-1 my-auto">
    <%= memory.id %>
  </div>
  <div class="col-3 my-auto">
    <%= memory.user.name %>
  </div>
  <div class="col-3 my-auto">
    <%= memory.status %>
  </div>
  <div class="col-3 my-auto">
    <%= l memory.created_at, format: :short %>
  </div>
  <div class="col-2">
    <div class="d-flex justify-content-end">
      <%= link_to t('admin.defaults.show'), admin_memory_path(memory), class: "btn btn-sm btn-outline-primary me-2" %>
      <%= link_to t('admin.defaults.delete'), admin_memory_path(memory), class: "btn btn-sm btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: t('admin.defaults.message.delete_confirmation') }  %>
    </div>
  </div>
</div>