<div class="row py-2 border-top">
  <div class="col-1 my-auto">
    <%= prompt.id %>
  </div>
  <div class="col-3 my-auto">
    <%= prompt.question.truncate(15) %>
  </div>
  <div class="col-3 my-auto">
    <%= prompt.bad_prompt.truncate(15) %>
  </div>
  <div class="col-3 my-auto">
    <%= prompt.good_prompt.truncate(15) %>
  </div>
  <div class="col-2">
    <div class="d-flex justify-content-end">
      <%= link_to t('defaults.show'), admin_prompt_path(prompt), class: "btn btn-sm btn-outline-primary me-2" %>
      <%= link_to t('defaults.delete'), admin_prompt_path(prompt), class: "btn btn-sm btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_message') }  %>
    </div>
  </div>
</div>