<div class="card shadow mt-3">
  <div class="card-header">
    <%= t('admin.defaults.show') %>
  </div>
  <div class="card-body mx-3">
    <div>
      <div class="mb-3">
        <div>
          <%= Prompt.human_attribute_name(:question) %>
        </div>
        <div class="border rounded p-1">
          <%= @prompt.question %>
        </div>
      </div>
      <div class="mb-3">
        <div>
          <%= Prompt.human_attribute_name(:bad_prompt) %>
        </div>
        <div class="border rounded p-1">
          <%= @prompt.bad_prompt %>
        </div>
      </div>
      <div class="mb-3">
        <div>
          <%= Prompt.human_attribute_name(:bad_negative_prompt) %>
        </div>
        <div class="border rounded p-1">
          <%= @prompt.bad_negative_prompt %>
        </div>
      </div>
      <div class="mb-3">
        <div>
          <%= Prompt.human_attribute_name(:good_prompt) %>
        </div>
        <div class="border rounded p-1">
          <%= @prompt.good_prompt %>
        </div>
      </div>
      <div class="mb-3">
        <div>
          <%= Prompt.human_attribute_name(:good_negative_prompt) %>
        </div>
        <div class="border rounded p-1">
          <%= @prompt.good_negative_prompt %>
        </div>
      </div>
      <%= link_to t('admin.defaults.edit'), edit_admin_prompt_path, class: "btn btn-primary" %>
      <%= link_to t('admin.defaults.index'), admin_prompts_path, class: "btn btn-primary" %>
    </div>
  </div>