<div class="col-6 d-flex flex-column mt-2 offset-1">
  <%= image_tag "deep.jpeg", class: "mx-auto", size: "450x300" %>
  <button class="btn btn-link text-start" id="toggle-button">
    <i class="fa-solid fa-caret-down fa-xl"></i>
    <%= t('memories.show.event_show')%>
  </button>
  <div id="event-body" class="text-wrap w-100">
    <%= raw(nl2br(memory.bad_event.body)) %>
  </div>
  <div class="rounded-pill bg-white mt-3 w-100 border d-flex align-items-center justify-content-around">
    <% 5.times do |i| %>
      <%= good_icon(memory.good_events, i) %>
    <% end %>
  </div>
  <%= link_to t('memories.show.new_good_event'), new_memory_good_event_path(memory), class: "btn-good-event mt-3 p-2 w-50 mx-auto"%>
</div>
<% if @memory.good_events.count == 5 %>
  <%= render "image_modal"  %>
<% end %>