<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-12 mt-2">
      <div class="text-center" id="bad-img">
        <% if @memory.bad_image.present? %>
          <%= image_tag @memory.bad_image_url, class: "show-bad-image", size: "300x300" %>
        <% else %>
          <div id="generate-message" class="mx-auto" data-memory-id="<%= @memory.id %>">
            <p>画像生成中</p>
            <div class="line-spin-fade-loader">
              <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
          </div>
        <% end %>
      </div>
      <button class="btn btn-link text-start text-nowrap" id="toggle-button">
        <i class="fa-solid fa-caret-down fa-xl"></i>
        <%= t('.event_show')%>
      </button>
      <div id="event-body" class="text-wrap w-100 ps-2">
        <%= render partial: "bad_events/bad_event", locals: { bad_event: @memory.bad_event } %>
      </div>
      <div class="text-end me-2">
        <%= link_to "#", "data-bs-toggle": "tooltip", "data-bs-placement": "right", "data-bs-title": "#{t('.info_message')}" do %>
          <i class="fa-solid fa-circle-info"></i>
        <% end %>
      </div>
      <div class="rounded-pill bg-white mt-3 w-100 border d-flex align-items-center justify-content-around">
        <% 3.times do |i| %>
          <%= good_icon(@good_events, i) %>
        <% end %>
      </div>
      <div class="text-center">
        <%= link_to t('.new_good_event'), new_memory_good_event_path(@memory), class: "btn-good-event my-3 p-2 w-75"%>
      </div>
    </div>
    <% if @good_events.count == 3 %>
      <%= render partial: "image_modal", locals: { memory: @memory } %>
    <% end %>
  </div>
</div>