<div class="col-6 d-flex flex-column mt-2">
  <div class="book bound ">
    <div class="pages">
      <div class="page">
        <div class="page-inner w-75 mx-auto">
          <%= image_tag "deep.jpeg", size: "90x90", class: "ms-3 mt-2" %>
          <%= image_tag "arrow.png", size: "100x50" %>
          <div class="text-center mb-1">
            <%= image_tag "image.jpeg", size: "300x400" %>
          </div>
        </div>
      </div>
      <div class="page">
        <div class="page-inner w-75 mx-auto">
          <%= image_tag "deep.jpeg", size: "90x90", class: "ms-3 mt-2" %>
          <%= image_tag "arrow.png", size: "100x50" %>
          <div class="text-center mb-1">
            <%= image_tag "image.jpeg", size: "300x400" %>
          </div>
        </div>
      </div>
      <div class="page">
      </div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page">There was a boy<br>Who had it rough</div>
    </div>
  </div>
</div>
