<!DOCTYPE html>
<html>
  <head>
    <title>MemoryUpdate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:head) %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render "shared/header" %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>
    <%= turbo_stream_flash %>
    <%= yield %>
    <div id="flashes" class="position-fixed top-0 end-0 m-2"></div>
  </body>
</html>
